name: CI
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master


permissions:
  actions: write
  pull-requests: write
  checks: write
  contents: read
  issues: write

jobs:
  lint: 
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version-file: ".nvmrc"
      - name: Install dependencies
        run: npm ci
      - name: Lint project
        run: npm run lint  
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version-file: ".nvmrc" 

      - name: Install dependencies
        run: npm ci

      - name: Execute test and generate report
        run:  npx allure run -- npm test  

      - name: Post Allure summary (PR comment + checks)
        uses: allure-framework/allure-action@v0
        with:
          report-directory: "./allure-report"
          github-token: ${{ secrets.GITHUB_TOKEN }}
         
      - name: Upload Allure report as artifact
        uses: actions/upload-artifact@v4
        with:
          name: allure-report
          path: allure-report


        
 