name: Publish Allure report to GitHub Pages
on: [push]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version-file: .nvmrc
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run: npm test

      - name: Generate Allure report
        run: npx allure generate allure-results/

      - name: Upload Allure report
        uses: actions/upload-pages-artifact@v4
        with:
          path: allure-report

  deploy:
    runs-on: ubuntu-latest
    needs: test
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - uses: actions/checkout@v5

      - name: Download Allure report
        uses: actions/download-artifact@v5
        with:
          name: github-pages
          path: allure-report

      - name: Deploy Allure report to GH Pages
        id: deployment
        uses: actions/deploy-pages@v4
